Package: textadept-modules-filediff
Source: textadept-modules
Version: 11.0alpha3-1
Architecture: amd64
Maintainer: Pedro A. Aranda <paag@paag-Sleekbook-14>
Installed-Size: 9
Depends: textadept-common (>= 10.0)
Section: unknown
Priority: optional
Homepage: http://foicica.com/textadept/
Description: CSS module for TextAdept
 TextAdept extension to cope with CSS
