#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

IS64=$(findstring 64, $(findstring amd64,$(shell dpkg-architecture -q DEB_TARGET_ARCH)))

insm_%:	| %
	install -d $(PWD)/debian/textadept-modules-$|/usr/share/textadept/modules/$|
	install $|/* $(PWD)/debian/textadept-modules-$|/usr/share/textadept/modules/$|

insi_%:	| %
	install -d $(PWD)/debian/textadept-modules-$|/usr/share/textadept/modules/$|
	install $|/init.lua $(PWD)/debian/textadept-modules-$|/usr/share/textadept/modules/$|

insl_%:	| %
	$(MAKE) DESTDIR=$(PWD)/debian/textadept-modules-$| PREFIX=/usr -C $| install

ins_%:	| %
	$(MAKE) DESTDIR=$(PWD)/debian/textadept-modules-$| PREFIX=/usr -C $|/src install

override_dh_auto_build:
	$(MAKE) ta_src=$(PWD)/../textadept/src -C yaml/src LIBYAML=libyaml$(IS64).so


override_dh_installdirs:
	@-echo "Done"

override_dh_auto_install:\
	insm_css insm_html insm_python insm_ruby insm_rest \
	insl_yang ins_yaml

override_dh_auto_clean:
	$(MAKE) -C yaml/src clean


