Package: textadept-nox
Source: textadept
Version: 11.0beta-2
Architecture: amd64
Maintainer: Pedro A. Aranda <paaguti@paag-Sleekbook-14.local>
Installed-Size: 9
Depends: textadept-common (>= 10)
Section: Editors
Priority: extra
Homepage: http://foicica.com/textadept/
Description: A fast, minimalist, and remarkably extensible cross-platform text editor
 The user interface in TextAdept is sleek and simple. Relentlessly optimized
 for speed and minimalism over the years, the editor consists of less than
 2000 lines of C code and less than 4000 lines of Lua code.
 This is the curses version
